@import "tailwindcss";

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

* {
  scrollbar-width: none;
}
